@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap");

:root {
	--primary-light: #eceff1;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #f8f8f8;
}

a {
	color: initial;
}

.se__bg-home {
	background: url("/DigitalSE-BG.png") 0% 0% no-repeat padding-box;
	background-size: cover;
}

.chapters__section--active {
	border-left: 4px solid #40b6d6 !important;
	margin: -4px !important;
}
